.timBradford {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.ticketsHolders {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    max-width: 1000px;
    margin: 4%;
}

.ticketContainer {
    height: 160px;
    width: 513px;
    background-color: #FFFFFF;
    border: 5px solid #FFFFFF;
    border-radius: 8px;
    
}

.top-rank {
    display: flex;
    justify-content: space-around;
    gap: 35%;
}

.lowest-rank {
  display: flex !important;
  flex-direction: row !important;
  justify-content: space-between;
  align-items: flex-end;
  width: 100%;
  margin-top: 15px;
}

.LR-left, 
.LR-right {
  display: flex;
  flex-direction: column;
  gap: 2px;
}

.LR-right {
  text-align: right;
  align-items: flex-end;
}

.grey {
  color: #71717a;
  margin: 0;
}

h6 {
  margin: 0;
  font-size: 0.75rem;
  line-height: 1.2;
  font-weight: 500;
  white-space: nowrap;
}

.R-priority {
    color: #F83044;
    font-size: 14px;
    font-weight: bold;
}

.Y-priority {
    color: #FEBB0C;
    font-size: 14px;
    font-weight: bold;    
}

.G-priority {
    color: #02A53B;
    font-size: 14px;
    font-weight: bold;
}

.G-status {
    color: #0B5E06;
    background: #B9F8CF;
    border: 5px solid #B9F8CF;
    border-radius: 350px;
}

.Y-status {
    color: #9C7700;
    border-radius: 350px;
    border: 5px solid #F8F3B9;
    background-color: #F8F3B9;
}

.Stan-Smitty{
  margin-left: 150px;
  margin-top: 15%;
}