@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

body{
  background: #F5F5F5;
  margin: 0%;
  padding: 0%;
  font-family: 'Inter', sans-serif;
  font-size: 16px;
}

.header {
  color: #000;
  display: flex;
  justify-content: space-between;
  align-items: wrap-around;
  background-color: #FFFFFF;
}

.inlinetspls {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 50px;
  margin: 5px;

}

.new-ticket-button {
  height: 43px;
  width: 145px;
  background: linear-gradient(90deg, #6731E4, #864CEC, #9F62F2);
  border-radius: 4px;
  border: none;
  color: White;
}
.IDKjustneedit {
  margin: 5px;
}

.Container1 {
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 50px;
}

.Main-div1 {
  background: linear-gradient(to bottom right, #632EE3, #7E46EA, #9055EF, #9F62F2);
  width: 750px;
  height: 250px;
  display: flex;
  justify-content: space-around;
  text-align: center;
  font-size: larger;
  border: 15px solid linear-gradient(to bottom right, #632EE3, #7E46EA, #9055EF, #9F62F2);
  border-radius: 8px;
  color: white;
}


.Main-div2 {
  background: linear-gradient(90deg, #55D068, #29A871, #01827A);;
  width: 750px;
  height: 250px;
  display: flex;
  justify-content: space-around;
  text-align: center;
  font-size: larger;
  border: 15px solid linear-gradient(90deg, #55D068, #29A871, #01827A);;
  border-radius: 8px;
  color: white;
}

.Image-1 {
    transform: scaleX(-1);
}
